<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace = 所需实现的接口全限定名-->
<mapper namespace="com.bess.dao.UserDAO">
<!--    public User getUser(Map<String,Object> map);-->
    <resultMap id="userMap" type="User">
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="account" property="account"/>
        <result column="password" property="userPwd"/>
        <result column="remark" property="remark"/>
        <result column="user_type" property="userType"/>
        <result column="enabled" property="enabled"/>
        <result column="login_time" property="loginTime"/>
        <result column="role_id" property="roleId"/>
        <result column="self" property="self"/>
    </resultMap>
    <select id="getUser" resultMap="userMap">
        select user_id,user_name,account,password,remark,user_type,enabled,login_time,role_id,self
        from user_info where account = #{account} and password = #{userPwd}
    </select>
<!--    public List<User> listUser();   // 查询所有的用户信息-->
    <select id="listUser" resultSets="java.util.List" resultMap="userMap">
        select user_id,user_name,account,password,remark,user_type,enabled,login_time,role_id,self
        from user_info
    </select>
<!--    public int insertUser(Map<String,Object> map);  // 新增用户，往user_info表中插入数据-->
    <insert id="insertUser">
        insert into user_info(user_id,user_name,account,password,remark,user_type,enabled,login_time,role_id,self)
        values(#{userId},#{userName},#{account},#{userPwd},#{remark},#{userType},#{enabled},#{loginTime},#{roleId},#{self});
    </insert>
<!--    public int deleteUserById(String userId);   // 删除用户-->
    <delete id="deleteUserById">
        delete from user_info where user_id = #{userId};
    </delete>
<!--    public String getRoleIdByUserId(String userId);  // 根据用户id查询role_id-->
    <select id="getRoleIdByUserId" resultType="String">
        select role_id from user_info where user_id = #{userId};
    </select>
</mapper>