<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace = 所需实现的接口全限定名-->
<mapper namespace="com.bess.dao.RoleDAO">
<!--    public List<Role> listRole();-->
    <resultMap id="userAndRoleMap" type="User">
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="remark" property="remark"/>
        <association property="role" javaType="Role">
            <result column="role_name" property="roleName"/>
            <result column="role_desc" property="roleDesc"/>
            <result column="role_type" property="roleType"/>
        </association>
    </resultMap>
    <select id="listRole" resultSets="java.util.List" resultMap="userAndRoleMap">
        select distinct user_info.user_id,user_info.user_name,user_info.remark,sys_role.role_name,sys_role.role_desc,sys_role.role_type
        from user_info inner join sys_role_fun on user_info.role_id = sys_role_fun.role_id
        inner join sys_role on sys_role_fun.role_id = sys_role.role_code;
    </select>
</mapper>